.header{
	height: 37.5rem;
	background-color:#0d6a7a;
	padding: 1.25rem;
	text-align: center;
	color: #00ff6a;
	font-family: 'Lobster', cursive;
}

#spa{
	color: orange;
	font-size: 18px
}

#span{

	color:lime;
	font-size: 22px
}
#heading{
	font-size: 6.25rem;
	margin-bottom: 0;
	color: #0047b0;

}
#head2{
	margin-top: 0;
	margin-bottom: 3.75rem;
	font-weight: normal;
	color: #0447f0;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Indie Flower', cursive;
	background-color: #38687a;
}
#lol{
	width: 9.385rem;
	height:9.380rem;
}
.lol{
	width: 9.375rem;
	height:9.375rem;
}
.circle{
	border-radius: 50%;
}
.top{
	text-align:  center;
	margin-top: 5rem;
}
.center{
	text-align: center;
}
#left{
	float: left;
	margin: 1.25rem 1.25rem 1.25rem 0;
}
#right{
	float: right;
}
.middle{
	text-align: center;
	margin-top: -3.5rem;
	padding: 3.75rem;
}
.bottom{
	margin-top: -4rem;
	text-align: center;
}
.middle-child{

  width: 50%;
  margin:2rem auto;
  text-align: left;
  line-height: 2;
}

{

	color: blue;
}
.mTop{
	margin-top: 5rem;
}
.footer{
	height: 9.375rem;
	background-color: #1d8a7a;
	padding: 3.125rem;
	text-align: center;
}
.footer p{
	 margin-top: 5rem;
}
 a{
	margin-top: 1.875rem;
	margin-left:3.75rem ;
	font-size: 1.250rem;
	color: #551A8B;
	text-decoration: none;
}
a:hover{
		text-decoration: overline;
		color:#4f1882;
		font-weight: bold;
}
 button{
	border:none;
	width: 6.25rem;
	height: 2.5rem;
	margin-bottom:1.875rem;
	padding: 0.3125rem;
	background-color: grey;
	border-radius: 0.625rem;
	color: white;
}
button:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}
